/* header */

header {
    background: #fff;
    z-index: 1000;
    position: fixed;
    box-shadow: 0 10px 100px rgba(0,0,0,.1);
    width: 100%;
    pad: 0px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header-links {
    list-style: none;
    font-size: 1.6rem;
}


@media (max-width: 55em) {
  
    .header-links {
        display: none;
      }
    
    .header-menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.7rem;
    }
    
    .header-menu-toggle::before {
        content: "\2630"; /* Відображає значок "гамбургера" */
    }
    
    .header-menu-toggle.active::before {
        content: "\2715"; /* Відображає значок "хрестик" */
    }
    
    .header-links-active {
        display: none;
    }

    
    .header-links-active.active {
        display: block;
    }
}

@media only screen and (min-width: 55em) {
    .header-links {
      display: flex;
    } 

    .header-links-active {
        display: none;
    }
}

.header-logo {
    font-size: 1.8rem;
}

header a {
    color: #333;
    letter-spacing: 1px;
    font-weight: 700;
    display: inline-block;
    padding: 1rem 3rem;
    transition: color .3s;
}

.header-links-active {
    list-style: none;
}

.header-link-active-wrapper{
    text-decoration: none;
    padding: 1.3rem 2.5rem;
    font-size: 1.6rem;
    color: #333;
    border-top: 1px solid #eee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .3s;
    text-align: right;
}


/* home */
.home {
    height: 100vh;
    background-image: url(../images/svg/common-bg.svg);
    position: relative;
    min-height: 80rem;
    max-height: 120rem;
}

/*      home content */
.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90rem;
    width: 92%;
    transform: translate(-50%,-50%);
}

.home-content h1{
    font-size: 5.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.home-content .info {
    font-size: 2.2rem;
    color: #333;
    text-align: center;
    width: 100%;
    padding: 0%;
}

.home-content-btn {
    font-size: 2rem;
    padding: 1.5rem 8rem;
}

.home-content-btn-wrapper {
    text-align: center;
}

/*      home social */

@media only screen and (max-width: 56.25em) {
    .home-social {
        display: none;
    }
}


.home-socials {
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    padding: 0.5rem;
    box-shadow: rgba(100,100,111,.2) 0 7px 29px 0;
    border-radius: 5%;
}

.home-social{
    width: 5rem;
}

.home-social-icon {
    width: 100%;
}

.home-social-icon-link {
    padding: 1rem;
    display: block;
    background-color: #fff;
    transition: background-color .3s;
    border-radius: 15%;
}


/* about */

.about {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.about-content {
    display: grid;
    grid-gap: 10rem;
    padding: 0rem 10rem;
}

@media only screen and (min-width: 55em) {
    .about-content {
        grid-template-columns: 1fr 1fr;
        padding: 0rem 10rem;
    }
}

.about-content-main-details-paragraf {
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.2rem;
}

.skill {
    background-color:rgba(153,153,153,.2);
    color: #666;
    padding: 1rem 2rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    border-radius: 5px;

}


/* projects */

.project{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.project-row{
    display: grid;
    padding: 0rem 10rem;
}

@media only screen and (max-width: 50em) {
    .project-row {
        text-align: center;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem;
    }
}

@media only screen and (min-width: 50em) {
    .project-row {
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 5rem;
        margin-bottom: 11rem;
    }
}

.project-row-image{
    width: 100%;
}

.project-row-content-desc{
    font-size: 1.8rem;
    color: #666;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 3rem;
}

/* footer */

.footer {
    background: #000;
    color: #fff;
}

.footer .main-container {
        max-width: 120rem;
        margin: auto;
        width: 92%;
}

.main-footer-upper{
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}


.main-footer-row-1{
    order: 2;
}

.main-footer-row-2{
    width: 40%;
    order: 1;
    max-width: 50rem;
}

.heading-sm {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-footer-short-desc {
    margin-top: 2rem;
    color: #eee;
    font-size: 1.5rem;
    line-height: 1.7;
}

.main-footer-social-cont {
    margin-top: 2rem;
  }

.main-footer-icon {
    margin-right: 1rem;
    width: 2.5rem;
    filter: invert(100%);
}

.main-footer-lower {
    padding: 4rem 0;
    border-top: 1px solid #444;
    color: #eee;
    font-size: 1.2rem;
    text-align: center;
  }

/* portfolio */
.project-details{
    padding: 8rem 4rem;
    max-width: 90rem;
    margin: auto;
}

.project-details-image{
    width: 100%;
    margin-bottom: 6rem;
}

.project-details-desc {
    margin-bottom: 6rem;
}

.project-details-tools{
    margin-bottom: 6rem;
} 

.project-details-links {
    margin-bottom: 6rem;
}

.project-details-content h2{
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.project-details-desc-para{
    font-size: 1.8rem;
    line-height: 1.7;
    color: #666;
    margin-bottom: 2rem;
}

.project-details-link-btn{
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.project-details-back-btn{
    color: #111;
    background: #fff;
    border: 2px solid #7843e9;
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px);
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
}

/* general */

html {
    font-size: 59%; 
}



body {
    box-sizing: border-box;
    position: relative;
    font-family: 'Source Sans Pro',sans-serif;
    line-height: 1.5;
    margin: 0px;
}

section {
    display: grid;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: inherit;
    color: #fff;
}

.btn {
    text-align: center;
    background: #7843e9;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
    padding: 1.5rem 5rem;
    font-size: 1.6rem;  
}

.heading-sec-main {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3.5px;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    color: #111;
}

.heading-sec-sub {
    display: block;
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    margin: auto;
    line-height: 1.6;
}

hr {
    width: 3%;
    color: #7843e9;
    height: 0.5rem;
    border-radius: 10px;
    background-color: #7843e9;
}

h3 {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.sec-pad {
    padding: 12rem 0;
}

@media only screen and (max-width: 56.25em) {
    .sec-pad {
      padding: 8rem 0; } }

.main-container-header{
    margin-bottom: 8rem;
}

/* transforms */
.header-content a:hover {
    color: #7843e9;
  }

.btn:hover{
    transform: translateY(-5px);
}

.home-social-icon-link:hover {
    background-color: #d3beff;
}

.project-details-back-btn:hover{
    transform: translateY(-5px);
}

